<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linguar" >

    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </activity>

        <service
            android:name=".VoiceCommandService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".VoiceRecognitionActivity"
            android:exported="true"
            android:label="@string/title_activity_voice_recognition" >
        </activity>
        <activity
            android:name=".LessonActivity"
            android:label="@string/title_activity_lesson" >
        </activity>
        <activity
            android:name=".ContinuousListening"
            android:label="@string/title_activity_continuous_listening" >
        </activity>
        <activity
            android:name=".EmulatorTest"
            android:label="@string/title_activity_emulator_test" >
        </activity>
    </application>

</manifest>
